.topBar{
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin: -10px;    
}

.topBar .container{
    background-color: green;
    display: flex;
}

.topBar .container #login{
    background-color: green;
    display: flex;
    align-items: flex-end;
}

.topBar .item{
    padding-left:50px;
    padding-right:50px;

    padding-top: 40px;
    background-color:violet;
    margin:15px;

    border-radius: 15px;
}
.topBar .login{

    padding-left:50px;
    padding-right:50px;

    padding-top: 40px;
    background-color:violet;
    margin:15px;

    border-radius: 15px;
}

.mainPicture{

    background-image: url("../images/mainPic.jpg");
    background-size: cover;
    margin: -10px;    
    margin-top: 10px;
    
    padding: 20vw;
}

#gradient{
    
    margin: -10px;   
    margin-top: -5vw;
    
    padding-left:100%;
    padding-top: 5vw;

    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.content{
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
}

.content .object {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.content #objectId1 {
    flex-direction: row;
}

.content #objectId1 img{
    width: 300px;
    height: 150px;
}

.content #objectId1 p{
    margin-right:50px;
    width: 500px;
    height: 150px;
}

.content #objectId2 {
    flex-direction: row-reverse;
}

.content #objectId2 img{
    width: 300px;
    height: 150px;
}

.content #objectId2 p{
    margin-left:50px;
    width: 500px;
    height: 150px;
}

.content #objectId3 {
    flex-direction: column;
}

.content #objectId3 img{
    margin-top: -50px;
    width: 750px;
    height: 150px;
}

.content #objectId3 p{
    margin-top: 50px;;
    width: 500px;
    height: 150px;
}

.lowerBar{
    background-color: black;
    padding: 50px;
    margin:-15px;
    margin-top:65px;
}