@import url('global.css?<?php echo time(); ?>');

.container{
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
footer{
    margin-top:5vw;
}



.thread{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    height: auto;
    width: 40vw;
    display: grid;
    grid-template-rows:5% 10% 5% 55% 15% 5% ;
    margin-bottom: -1px;
}



.container .thread .threadProfile{
    display: grid;
    grid-template-columns:5% 10% 5% 75% 5% ;
    grid-template-rows:100% ;
    grid-row-start: 2;
}

.container .thread .threadProfile .imageProfile{
    grid-column-start: 2;
    grid-row-start: 1;

    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
    object-fit: cover;
}

.container .thread .threadProfile .username{
    font-family: "Mansalva", sans-serif;
    display: flex;
    align-self: center;
    grid-row-start: 1;
    grid-column-start: 4;
    font-size: 2vw;
}



.container .thread .imageTread{

    width: 100%;
    height: 100%;
    background-color: black;
    grid-row-start: 4;
    object-fit: cover;

}


.container .thread .message{
    display: flex;
    align-self: center;
    justify-content: center;
    grid-row-start: 6;
    font-size: 1vw;
    margin: 2vw;
}



.threadComment{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

    border-width: 1px;
    border-color: black;
    border-top-color: rgb(255, 255, 255);
    border-style: solid;
    width: 40vw;


    margin-bottom: -1px;
}

.threadComment .messages-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    background-color: rgba(182, 182, 182, 0.135);
    

}

.threadComment .messages-container .message:hover{
    background-color: rgba(0, 0, 0, 0.128);
}

.threadComment .messages-container .message{
    width: 30vw;
    background-color: rgba(0, 0, 255, 0);
    transition: background-color 0.3s ease;
}
.threadComment .messages-container .message .message-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    padding: 1vw;
}

.threadComment .messages-container .message .message-body{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0);

    padding: 1vw;
}


.threadComment .usrSearch,.threadComment #messageForm{
    display:flex;
    align-items: center;
    justify-content: center;
}
.threadComment .usrSearch #imgReport{
    margin-left:20vw;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    padding: 0;
    cursor: pointer;
}
.threadComment .usrSearch #imgReport img{
    height: 1vw;
    width: 1vw;
}

.addUsrSearch {
    display: none;
    grid-template-columns: 10% 80% 10% ;
    grid-template-rows: 10% 20% 5% 55% 10% ;
    
    width: 35vw;
    height: 50vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(90, 138, 151);
    border-radius: 5px;
}

.addUsrSearch .close{
    grid-column: 3; 
    grid-row: 1;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
}

.addUsrSearch .searchContainer {
    align-self: center;
    grid-column: 2; 
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.addUsrSearch .suggestions{
    grid-column: 2; 
    grid-row: 4;
    overflow-y: auto;
    max-height: 100%;
    background-color: rgb(100, 153, 168);
    border-radius: 5px;
}

.addUsrSearch .suggestions .threadProfile{
    display: grid;
    grid-template-columns:5% 10% 5% 50% 5% 20% 5% ;
    grid-template-rows:100% ;
    grid-row-start: 2;
}

.addUsrSearch .suggestions .threadProfile .imageProfile{
    grid-column-start: 2;
    grid-row-start: 1;

    width: 3vw;
    height: 3vw;
    background-color: black;
    border-radius: 50%;
    object-fit: cover;
}

.addUsrSearch .suggestions .threadProfile #addFriendBtn{
    grid-column-start: 6;
    grid-row-start: 1;

    width: 3vw;
    height: 3vw;
    background-color: black;
    border-radius: 50%;
    object-fit: cover;
}


.btn{
    background-color: #0d7681; 
    border: none;
    color: white;
    padding: 0.5vw 1vw;
    margin-top: -0.01vw;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #0d7581c1
}




.addUsrSearch .suggestions .threadProfile .username{
    margin-top: 5px;
    font-family: "Mansalva", sans-serif;
    display: flex;
    align-self: center;
    grid-row-start: 1;
    grid-column-start: 4;
    font-size: 1.3vw;
}


body.no-scroll {
    overflow: hidden;
}

.thread[noClick]{
    pointer-events: none;
}

#message{
    background-color: rgba(227, 245, 250, 0.749);
    width: 18vw; 
    margin-right: 1vw;
    height: 1vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}



.reportUsr{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10vw;
    width: 10vw;
    display: none;
    grid-template-columns:5% 10% 70% 10% 5%;
    grid-template-rows:20% 10% 20% 17.5% 17.5% 17.5% ;

    background-color: rgb(210, 14, 14);

    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 3%;
}

.reportUsr a{
    grid-column-start: 3 ;
    grid-row-start: 4 /8;

    display: flex;
    align-self: center;
    justify-self: center ;
    text-decoration: none;
    font-size: 1vw;
    transition: background-color 0.5s ease;
}

.reportUsr a:hover{
    color: rgba(226, 253, 108, 0.611);
}



.reportUsr img{
    grid-column-start: 2 ;
    grid-column-start: 4 ;
    width:100%;
    height:100%;
    object-fit: cover;
}



.editMsg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10vw;
    width: 10vw;
    display: none;
    align-items: center;
    justify-content: center;

    background-color: rgb(76, 170, 218);

    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 3%;
}