@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");

:root{

    --mainColor: rgb(76, 151, 221);
    --greyColor:rgba(0, 0, 0, 0.233);

}



header{
    display: grid;
    grid-template-columns: 5% 33% 33% 10% 10% 5%;

    margin: -15px;

    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--mainColor);
}

header .title{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    
    font-size: 25px;
    font-family: "Mansalva", sans-serif;
    background-color: var(--mainColor);
}
header .titlepage{
    grid-column-start: 5;

    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;

    background-color: var(--greyColor);
}

footer{
    display: flex;
    align-items: center;
    margin: -15px;
    justify-content: center;
    background-color: var(--mainColor);
}